@font-face {
  font-family: ApplicationFont;
  src: url("__Font__") format("opentype");
}

body {
  background-color: "__PageBackground__";
  font-family: "ApplicationFont";
}

h1 {
  color: "__TextColor__";
}

.content {
  margin-right: 0;
  margin-left: 0;
}

.tab-pane {
  height: 100vh;
}

.sticker-wrap {
  width: 50% !important;
  margin: 0 !important;
}

.sticker-body {
  min-height: 30vh !important;
  max-height: 30vh !important;
}

.livelike-load-more-button {
  margin-top: 10px;
}

.widgets-timeline {
  margin-left: 10px;
  margin-right: 10px;
}

livelike-image-number-prediction-follow-up {
  /* margin: 10px; */
  font-family: "ApplicationFont" !important;
  color: "__TextColor__";
}

livelike-widget-root {
  padding-bottom: 5px !important;
}

livelike-widget-root livelike-widget-header {
  background: "__WidgetBackground__";
  text-align: start;
  margin-bottom: 15px;
  line-height: 29px;
  font-size: 24px;
}

livelike-widget-root livelike-widget-body {
  background-color: "__WidgetBackground__";
}

livelike-text-ask {
  /* margin: 10px; */
  font-family: "ApplicationFont" !important;
  color: "__TextColor__";
}

.avatar {
  margin: 0px 6px 0px 0px;
}

.avatar img,
.avatar svg {
  width: 2.5rem !important;
  height: 2.5rem !important;
}

livelike-scroll-down {
  display: none;
}

.mini-reaction-image {
  margin: 0px 0 0 4px !important;
}

.hidden {
  display: none;
}

.dot {
  margin-bottom: 7px;
  margin-left: 3px;
}

.leaderboard-table {
  text-align: left;
  table-layout: auto;
  width: 100%;
  /* border-collapse: collapse; */
  /* border-spacing: 10px; */
}

.leaderboard-table>thead {
  font-family: "ApplicationFont";
  font-style: normal;
  font-weight: 500 !important;
  color: "__TextColor__" !important;
}

.profile-container {
  margin-top: 30px;
  color: "__TextColor__";
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.profile-container>button {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 9px 14px;
  width: 144px;
  height: 41px;
  background-color: "__ButtonBackground__";
  color: "__TextColor__";
}

.form-label {
  font-family: "ApplicationFont";
  font-style: normal;
  font-weight: 500 !important;
  font-size: 14px;
  line-height: 14px;
  color: "__TextColor__";
  text-transform: uppercase;
}

.welcome-text {
  text-align: center;
  font-family: "ApplicationFont";
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
}

.btn-default {
  width: 80% !important;
}

.form-control {
  background: "__TextColor__" !important;
  background-color: "__LoginPageInputFieldBackground__" !important;
  font-size: 16px;
  line-height: 16px;
  border-radius: 0 !important;
}

.profile-input {
  border: 1px solid "__LoginPageInputFieldBorder__" !important;
  color: "__TextColor__" !important;
  background-color: "__LoginPageInputFieldBackground__";
}

livelike-image-number-prediction livelike-option[image] {
  flex-direction: row;
}

livelike-progress,
livelike-percentage {
  visibility: visible;
}

.leaderboard-entries-container {
  width: 100%;
  text-align: left;
}

tr.list-item {
  color: "__TextColor__";
  border-bottom: 1px solid "__TextColor__";
}

.send-icon svg {
  fill: "__TextColor__" !important;
}

.small-text {
  font-family: "ApplicationFont";
  font-style: normal;
  font-size: 11px;
  line-height: 18px;
  color: "__TextColor__";
  opacity: 0.4;
  margin-top: 4px;
  text-align: center;
}

.mandatory-text {
  font-family: "ApplicationFont";
  font-style: normal;
  font-size: 11px;
  line-height: 18px;
  color: "__RequiredTextColor__";
  margin-top: 8px;
  text-align: center;
}

.get-rewarded-text {
  color: "__TextColor__";
  font-family: "ApplicationFont";
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  color: "__TextColor__";
  padding: 12px;
}

td.name {
  font-family: "ApplicationFont";
  font-style: normal;
  font-size: 18px;
  line-height: 18px;
  color: "__TextColor__";
}

.active-bage {
  align-items: center;
  background-image: url("../images/bage.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center left;
  background-position-x: 10px;
  /* background-position-y: 10px; */
  /* background-position: left top;
  background-size: auto;
  align-items: center; */
}

td.rank {
  text-align: center;
  font-family: "ApplicationFont";
  font-style: normal;
  color: "__TextColor__";
}

td.pts {
  text-align: end;
  font-family: "ApplicationFont";
  font-style: normal;
  line-height: 14px;
  color: "__TextColor__";
}

.user-profile-points {
  font-family: "ApplicationFont";
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  color: "__TextColor__";
  align-self: center;
  margin-bottom: 0px;
}

#player>img {
  background-color: "__LoginPageBackground__";
  width: 100% !important;
  height: 120px;
}

.static-content-top {
  width: 100% !important;
  position: fixed;
  top: 0;
  z-index: 100;
  height: 168px;
}

.tab-content {
  padding-top: 250px;
}

#profile {
  padding-top: 82px;
  background-color: "__LoginPageBackground__";
}

livelike-image-number-prediction {
  font-family: "ApplicationFont";
}

livelike-image-number-prediction livelike-option[image] {
  background-color: "__WidgetBackground__" !important;
  border: 1px solid "__WidgetBackground__" !important;
}

livelike-image-number-prediction livelike-option[image] .livelike-voting-image-container {
  background-color: "__WidgetBackground__" !important;
}

livelike-image-number-prediction livelike-option[image] .livelike-voting-input-container {
  background-color: "__WidgetBackground__" !important;
}

livelike-image-number-prediction .livelike-voting-number-input {
  background-color: "__WidgetBackground__" !important;
  border: 1px solid "__WidgetBackground__" !important;
  color: "__TextColor__" !important;
}

/*NAVBAR*/

#navbar {
  position: sticky;
  z-index: 1030;
  margin-right: 0;
  margin-left: 0;
  top: 20vh;
  height: 6vh;
  background-color: "__TabActive__";
}

.nav-item {
  height: 100%;
}

.nav-item {
  border-left: 1px #111720 solid;
}

.nav-tabs {
  border: unset !important;
  height: 42px !important;
  font-family: "ApplicationFont";
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 8px;
  background-color: "__LoginPageBackground__" !important;
  color: "__TextColor__";
  font-size: 12px;
  font-family: "ApplicationFont";
  font-style: normal;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: "__TextColor__" !important;
  border-color: "__LoginPageBackground__" "__LoginPageBackground__" "__LoginPageBackground__" !important;
  background-color: "__LoginPageBackground__" !important;
}

.nav-tabs .nav-link {
  border-top-left-radius: 0rem !important;
  border-top-right-radius: 0rem !important
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active span {
  border-bottom: 2px solid "__TabActiveLineColor__";
}

.nav-pills .nav-link {
  background-color: "__LoginPageBackground__" !important;
  border-radius: 0;
  font-family: "ApplicationFont";
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
}

.nav-pills .nav-link.active {
  color: "__TabActiveLineColor__";
  background-color: "__LoginPageBackground__";
  border-bottom: 2px solid #f26a16;
  font-family: "ApplicationFont";
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
}

.nav-pills .nav-link.active a {
  background-color: "__LoginPageBackground__";
}

.nav li a {
  color: "__TextColor__";
  background-color: "__LoginPageBackground__";
}

.nav li a:hover {
  color: "__TextColor__";
  background-color: "__LoginPageBackground__";
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active img {
  visibility: hidden;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link img {
  visibility: visible;
}

/* Scrolling changes*/
html {
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  height: 100%;
}

.static-content-top {
  position: relative;
}

.tab-content {
  padding-top: 0;
  height: 100%;
  /* height: calc(100% - 250px); */
  /* min-height: calc(100% - 250px); */
}

/*  100% - static-content-top height */

.widgets-tab {
  height: calc(100% - 168px);
  overflow-y: auto;
}