@font-face {
  font-family: "ApplicationFont";
  src: url("__Font__") format("opentype");
}

body {
  background-color: "__PageBackground__";
  font-family: "ApplicationFont";
}

h1 {
  color: "__TextColor__";
}

.content {
  margin-right: 0;
  margin-left: 0;
}

.tab-pane {
  height: 100vh;
}

.sticker-wrap {
  width: 50% !important;
  margin: 0 !important;
}

.sticker-body {
  min-height: 30vh !important;
  max-height: 30vh !important;
}

.livelike-load-more-button {
  margin-top: 10px;
}

.widgets-timeline {
  margin-left: 10px;
  margin-right: 10px;
}

livelike-image-number-prediction-follow-up {
  /* margin: 10px; */
  font-family: "ApplicationFont" !important;
  color: "__TextColor__";
}

livelike-widget-root {
  padding-bottom: 5px !important;
}

livelike-widget-root livelike-widget-header {
  background: "__WidgetBackground__";
  text-align: start;
  margin-bottom: 15px;
  line-height: 29px;
  font-size: 24px;
}

livelike-widget-root livelike-widget-body {
  background-color: "__WidgetBackground__";
}

livelike-text-ask {
  /* margin: 10px; */
  font-family: "ApplicationFont" !important;
  color: "__TextColor__";
}

.avatar {
  margin: 0px 6px 0px 0px;
}

.avatar img,
.avatar svg {
  width: 2.5rem !important;
  height: 2.5rem !important;
}

livelike-scroll-down {
  display: none;
}

.mini-reaction-image {
  margin: 0px 0 0 4px !important;
}

.hidden {
  display: none;
}

.dot {
  margin-bottom: 7px;
  margin-left: 3px;
}

.leaderboard-table {
  text-align: left;
  table-layout: auto;
  width: 100%;
  /* border-collapse: collapse; */
  /* border-spacing: 10px; */
}

.leaderboard-table>thead {
  font-family: "ApplicationFont";
  font-style: normal;
  font-weight: 500 !important;
  color: "__TextColor__" !important;
}

.profile-container {
  margin-top: 30px;
  color: "__TextColor__";
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.profile-container>button {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 9px 14px;
  width: 144px;
  height: 41px;
  background-color: "Button";
  color: "__TextColor__";
}

.form-label {
  font-family: "ApplicationFont";
  font-style: normal;
  font-weight: 500 !important;
  font-size: 14px;
  line-height: 14px;
  color: "__TextColor__";
  text-transform: uppercase;
}

.welcome-text {
  text-align: center;
  font-family: "ApplicationFont";
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
}

.btn-default {
  width: 80% !important;
}

.form-control {
  background: "__TextColor__" !important;
  background-color: "__WidgetBackground__" !important;
  font-size: 16px;
  line-height: 16px;
  border-radius: 0 !important;
}

.profile-input {
  border: 1px solid "__BannerBackground__" !important;
  color: "__TextColor__" !important;
  background-color: "__WidgetBackground__";
}

livelike-image-number-prediction livelike-option[image] {
  flex-direction: row;
}

livelike-progress,
livelike-percentage {
  visibility: visible;
}

.leaderboard-entries-container {
  width: 100%;
  text-align: left;
}

tr.list-item {
  color: "__TextColor__";
  border-bottom: 1px solid "__TextColor__";
}

.send-icon svg {
  fill: "__TextColor__" !important;
}

.small-text {
  font-family: "ApplicationFont";
  font-style: normal;
  font-size: 11px;
  line-height: 18px;
  color: "__TextColor__";
  opacity: 0.4;
  margin-top: 4px;
  text-align: center;
}

.mandatory-text {
  font-family: "ApplicationFont";
  font-style: normal;
  font-size: 11px;
  line-height: 18px;
  color: "__ButtonDisabled__";
  margin-top: 8px;
  text-align: center;
}

.get-rewarded-text {
  color: "__TextColor__";
  font-family: "ApplicationFont";
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  color: "__TextColor__";
  padding: 12px;
}

td.name {
  font-family: "ApplicationFont";
  font-style: normal;
  font-size: 18px;
  line-height: 18px;
  color: "__TextColor__";
}

.active-bage {
  align-items: center;
  background-image: url("./images/bage.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center left;
  background-position-x: 10px;
  /* background-position-y: 10px; */
  /* background-position: left top;
  background-size: auto;
  align-items: center; */
}

td.rank {
  text-align: center;
  font-family: "ApplicationFont";
  font-style: normal;
  color: "__TextColor__";
}

td.pts {
  text-align: end;
  font-family: "ApplicationFont";
  font-style: normal;
  line-height: 14px;
  color: "__TextColor__";
}

.user-profile-points {
  font-family: "ApplicationFont";
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  color: "__TextColor__";
  align-self: center;
  margin-bottom: 0px;
}

#player>img {
  background-color: "__PageBackground__";
  object-fit: contain;
}

.static-content-top {
  width: 100vw;
  height: calc(15vh+42px);
  position: fixed;
  top: 0;
  z-index: 100;
}

.tab-content {
  padding-top: 250px;
}

#profile {
  padding-top: 82px;
  background-color: "__PageBackground__";
}

livelike-image-number-prediction {
  font-family: "ApplicationFont";
}

livelike-image-number-prediction livelike-option[image] {
  background-color: "__WidgetBackground__" !important;
  border: 1px solid "__WidgetBackground__" !important;
}

livelike-image-number-prediction livelike-option[image] .livelike-voting-image-container {
  background-color: "__WidgetBackground__" !important;
}

livelike-image-number-prediction livelike-option[image] .livelike-voting-input-container {
  background-color: "__WidgetBackground__" !important;
}

livelike-image-number-prediction .livelike-voting-number-input {
  background-color: "__WidgetBackground__" !important;
  border: 1px solid "__WidgetBackground__" !important;
  color: "__TextColor__" !important;
}

/*NAVBAR*/

#navbar {
  position: sticky;
  z-index: 1030;
  margin-right: 0;
  margin-left: 0;
  top: 20vh;
  height: 6vh;
  background-color: "__NavTab__";
}

.nav-item {
  height: 100%;
}

.nav-item {
  border-left: 1px "__PageBackground__" solid;
}

.nav-tabs {
  border: unset !important;
  height: 42px !important;
  font-family: "ApplicationFont";
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 8px;
  background-color: "__NavTab__" !important;
  color: "__NavTabText__";
  font-size: 12px;
  font-family: "ApplicationFont";
  font-style: normal;
}

.nav-tabs .nav-item.show .nav-link {
  color: "__NavTabText__" !important;
  border-color: "__NavTab__" "__NavTab__" "__NavTab__" !important;
  background-color: "__NavTab__" !important;
}

.nav-tabs .nav-link.active {
  color: "__ActiveNavTabText__" !important;
  border-color: "__ActiveNavTab__" "__ActiveNavTab__" "__ActiveNavTab__" !important;
  background-color: "__ActiveNavTab__" !important;
}

.nav-tabs .nav-link {
  border-top-left-radius: 0rem !important;
  border-top-right-radius: 0rem !important
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active span {
  border-bottom: 2px solid "__Unsuccessful__";
}

.nav-pills .nav-link {
  background-color: "__NavTab__" !important;
  border-radius: 0;
  font-family: "ApplicationFont";
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
}

.nav-pills .nav-link.active {
  color: "__ActiveNavTabText__";
  background-color: "__ActiveNavTab__";
  border-bottom: 2px solid "__Unsuccessful__";
  font-family: "ApplicationFont";
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
}

.nav-pills .nav-link.active a {
  background-color: "__ActiveNavTab__";
}

.nav li a {
  color: "__NavTabText__";
  background-color: "__NavTab__";
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active img {
  visibility: hidden;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link img {
  visibility: visible;
}

/* Scrolling changes*/
html {
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  height: 100%;
}

.static-content-top {
  position: relative;
}

.tab-content {
  padding-top: 0;
  height: 100%;
  /* height: calc(100% - 250px); */
  /* min-height: calc(100% - 250px); */
}

/*  100% - static-content-top height */

.widgets-tab {
  height: calc(100% - 168px);
  overflow-y: auto;
}

/* MEDIA QUERY */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .logo img {
    width: 60px;
  }

  livelike-widget-root,
  .responsive-tabs,
  livelike-message-item,
  livelike-chat-composer,
  .livelike-load-more-button {
    width: 100%;
    align-self: center;
    margin-bottom: 20px;
  }

  .responsive-text {
    font-size: 16px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .logo img {
    width: 70px;
  }

  livelike-widget-root,
  .responsive-tabs,
  livelike-message-item,
  livelike-chat-composer,
  .livelike-load-more-button {
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
  }

  .responsive-text {
    font-size: 18px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .logo img {
    width: 80px;
  }

  livelike-widget-root,
  .responsive-tabs,
  livelike-message-item,
  livelike-chat-composer,
  .livelike-load-more-button {
    width: 80%;
    margin: auto;
  }

  .responsive-text {
    font-size: 20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .logo img {
    width: 90px;
  }

  livelike-widget-root,
  .responsive-tabs,
  livelike-message-item,
  livelike-chat-composer,
  .livelike-load-more-button {
    width: 65%;
    margin: auto;
  }

  .responsive-text {
    font-size: 22px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .logo img {
    width: 100px;
  }

  livelike-widget-root,
  .responsive-tabs,
  livelike-message-item,
  livelike-chat-composer,
  .livelike-load-more-button {
    width: 55%;
    margin: auto;
  }

  .responsive-text {
    font-size: 24px;
  }
}

@media only screen and (min-width: 1400px) {
  .logo img {
    width: 100px;
  }

  livelike-widget-root,
  .responsive-tabs,
  livelike-message-item,
  livelike-chat-composer,
  .livelike-load-more-button {
    width: 45%;
    margin: auto;
  }

  .responsive-text {
    font-size: 26px;
  }
}

/*# sourceMappingURL=media_query.css.map */

/* Widget common */

livelike-widget-root {
  background-color: "__WidgetBackground__" !important;
  border-radius: 0;
}

livelike-widget-header,
livelike-widget-body {
  background-color: "__WidgetBackground__" !important;
  background: "__WidgetBackground__";
}

livelike-title {
  color: "__TextColor__";
  background-color: "__WidgetBackground__";
  padding: 2px 14px;
  font-weight: 500;
  font-size: 24px;
  font-family: "ApplicationFont";
  line-height: 25px;
}

livelike-image {
  height: 60px;
  width: 60px;
}

livelike-image img {
  height: 58px;
  width: 58px;
  z-index: 0;
  transform: translateX(-1px);
}

livelike-option[selected] {
  background: "__WidgetOption__" !important;
}

livelike-option {
  border-radius: 5px !important;
  height: 60px;
  margin: 10px;
}

livelike-widget-root {
  margin-bottom: 10px;
}

livelike-description {
  color: "__TextColor__";
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  /* margin-top:12px */
}

livelike-percentage {
  color: "__TextColor__";
}

livelike-progress {
  bottom: 14px;
  left: 14px;
  height: 4px;
  border-radius: unset;
  top: unset !important;
  margin-top: unset !important;
  background: "__TextColor__";
}

livelike-progress[image] {
  height: 4px !important;
}

livelike-widget-root livelike-widget-body livelike-select livelike-option {
  background: "__WidgetOption__" !important;
  background-color: "__WidgetOption__" !important;
}

livelike-select {
  background-color: "__WidgetBackground__" !important;
}

livelike-option .livelike-voting-image-container {
  background-color: "__WidgetOption__" !important;
  min-height: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

livelike-description {
  font-size: 12px;
  font-family: "ApplicationFont";
  padding: 15px 0 0 13px;
}

livelike-option .livelike-voting-image-container .image-description-wrapper {
  font-size: 15px;
  display: flex;
  height: 100%;
  width: calc(80% - 14px);
  position: relative;
  background-color: "__WidgetOption__" !important;
}

livelike-option .livelike-voting-image-container .image-description-wrapper livelike-description {
  padding: 15px 0 0 13px;
  background-color: "__WidgetOption__" !important
}

livelike-option[image] {
  flex-direction: row-reverse;
  line-height: 15px;
  font-size: 12px;
  padding: 0px;
  background-color: "__WidgetOption__" !important;
}

livelike-option:not([image]) {
  padding: 0 !important;
  background-color: "__WidgetOption__" !important;
}

livelike-option:not([image]) div:first-child {
  height: 100% !important;
  background-color: "__WidgetOption__" !important;
}

livelike-option:not([image]) livelike-percentage {
  align-self: center;
}

livelike-option:not([image]) livelike-description {
  padding: 10px 0 0 14px !important;
  background-color: "__WidgetOption__" !important;
}

livelike-percentage {
  font-family: "ApplicationFont";
  font-size: 22px;
  padding: 0 14px 0 0 !important;
  line-height: 20px;
}

/* Correct / Incorrect / Selected*/
livelike-description[selected],
livelike-description[selected][incorrect],
livelike-percentage[selected],
livelike-percentage[selected][incorrect] {
  color: "__TextColor__";
}

livelike-percentage[correct] {
  color: "__TextColor__";
}

livelike-option[selected] {
  border-color: "__WidgetSelectedOption__";
  background-color: "__WidgetOption__" !important;
}

livelike-option[selected][correct] {
  border-color: "__Successful__";
  background-color: "__WidgetOption__" !important;
}

livelike-description[correct] {
  color: "__TextColor__";
  background-color: "__WidgetOption__" !important;
}

livelike-option[selected][incorrect] {
  border-color: "__Unsuccessful__";
  background-color: "__WidgetOption__" !important;
}

livelike-progress[selected],
livelike-progress[selected][incorrect] {
  background: "__TextColor__";
}

livelike-progress[correct] {
  background: "__TextColor__";
}

livelike-option[correct] {
  border-color: "__Successful__";
  background-color: "__WidgetOption__";
}

/*  Vote Button Footer */

livelike-footer {
  background-color: "__WidgetBackground__" !important;
  margin: 0 0 6px 14px;
}

livelike-alert livelike-footer {
  background-color: "__WidgetBackground__" !important;
  margin: 0 0 6px 14px;
}

.widget-link:after {
  top: 8px;
}

.vote-button {
  background: "__Button__" !important;
  border: unset !important;
  border-radius: 0px !important;
  color: "__TextColor__" !important;
  margin: 0 !important;
  padding: 3px 30px !important;
  font-family: "ApplicationFont";
  font-style: normal;
  font-size: 14px;
}

.vote-button[disabled] {
  background: "__ButtonDisabled__" !important;
  border-radius: 0px !important;
  border: unset !important;
  color: "__TextColor__" !important;
}

.voted-text {
  font-family: "ApplicationFont" !important;
  font-style: normal;
  font-size: 16px;
  line-height: 14px;
  color: "__TextColor__";
  padding-left: 10px;
}

.predict-button {
  background: "Button" !important;
  border: unset !important;
  border-radius: 0px !important;
  color: "__TextColor__" !important;
  margin: 0 !important;
  padding: 3px 30px !important;
  font-family: "ApplicationFont";
  font-style: normal;
  font-size: 14px;
}

.predict-button[disabled] {
  background: "__ButtonDisabled__";
  border: unset !important;
  color: "__TextColor__" !important;
}

/* Progress Spacing */

livelike-option:not([image]) div:first-child {
  width: 80% !important;
}

livelike-percentage {
  transform: translateX(20%);
}

livelike-option:not([image]) div:first-child livelike-percentage {
  left: 25%;
}

.widget-caption {
  color: "__TextColor__";
}

.leaderboard-container {
  padding: 12px;
  height: calc(100% - 168px);
  overflow-y: auto;
}

.widget-link {
  background-color: unset !important;
  padding: unset;
  color: "__TextColor__";
}

.widget-link:after {
  top: 7px;
}


/*override everything*/

livelike-description {
  font-size: 20px;
}

.nav-link {
  font-size: 14px;
}

livelike-widget-body {
  background-color: "__WidgetBackground__" !important;
}

livelike-footer {
  background-color: "__WidgetBackground__" !important;
}

livelike-percentatge {
  font-family: "ApplicationFont" !important;
  padding-right: 3px !important;
}

td,
th {
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 16px;
}

livelike-progress {
  background-color: "__TextColor__" !important;
  z-index: 100 !important;
}

#createProfileButton {
  color: "__TextColor__" !important;
  background-color: "__Button__";
  width: 144px;
  height: 41px;
  border-radius: 0px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 14px;
}

#createProfileButton:disabled,
#createProfileButton[disabled] {
  color: "__TextColor__" !important;
  background-color: "__ButtonDisabled__" !important;
  text-transform: uppercase;
  width: 144px;
  height: 41px;
  border-radius: 0px;
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
}

.thead-element {
  font-family: "ApplicationFont";
  font-style: normal;
  font-weight: 100 !important;
  color: "__TextColor__" !important;
}

.score-label {
  font-family: "ApplicationFont";
  font-style: normal;
  font-weight: 100 !important;
}

livelike-option livelike-progress:not([changed]) {
  visibility: hidden !important;
}

livelike-option livelike-percentage:not([changed]) {
  visibility: hidden !important;
}

livelike-image-prediction livelike-progress:not([changed]),
livelike-text-prediction livelike-progress:not([changed]) {
  visibility: hidden !important;
}

livelike-image-prediction livelike-percentage:not([changed]),
livelike-text-prediction livelike-percentage:not([changed]) {
  visibility: hidden !important;
}




livelike-widgets {
  display: flex;
  flex-direction: column-reverse;
}

.widgets-tab {
  padding-bottom: 100px;
}

.text-ask-button {
  background: "__Button__" !important;
  border: unset !important;
  border-radius: 0px !important;
  color: "__TextColor__" !important;
  margin: 0 !important;
  padding: 3px 20px !important;
  font-style: normal;
}

.text-ask-button [disabled] {
  background: "__ButtonDisabled__" !important;
  border-radius: 0px !important;
  border: unset !important;
  color: "__TextColor__" !important;
}

.text-ask-button-label {
  font-weight: 100 !important;
  font-family: "ApplicationFont";
  font-size: 14px;
}

.quiz-confirmation-message {
  font-size: 16px !important;
  font-weight: 100 !important;
}

livelike-image-number-prediction livelike-option[correct],
livelike-image-number-prediction-follow-up livelike-option[correct],
livelike-image-number-prediction livelike-option[incorrect],
livelike-image-number-prediction-follow-up livelike-option[incorrect],
livelike-image-number-prediction livelike-option[selected][correct],
livelike-image-number-prediction-follow-up livelike-option[selected][correct],
livelike-image-number-prediction livelike-option[selected][incorrect],
livelike-image-number-prediction-follow-up livelike-option[selected][incorrect],
livelike-text-prediction livelike-option[correct],
livelike-text-prediction-follow-up livelike-option[correct],
livelike-text-prediction livelike-option[incorrect],
livelike-text-prediction-follow-up livelike-option[incorrect],
livelike-text-prediction livelike-option[selected][correct],
livelike-text-prediction-follow-up livelike-option[selected][correct],
livelike-text-prediction livelike-option[selected][incorrect],
livelike-text-prediction-follow-up livelike-option[selected][incorrect],
livelike-image-prediction livelike-option[correct],
livelike-image-prediction-follow-up livelike-option[correct] livelike-image-prediction livelike-option[incorrect] livelike-image-prediction-follow-up livelike-option[incorrect],
livelike-image-prediction livelike-option[selected][correct],
livelike-image-prediction-follow-up livelike-option[selected][correct],
livelike-image-prediction livelike-option[selected][incorrect],
livelike-image-prediction-follow-up livelike-option[selected][incorrect] {
  border-color: "__WidgetOption__" !important;
  background-color: "__WidgetOption__" !important;
}

.prediction-follow-up-footer-message {
  font-family: "ApplicationFont" !important;
  font-weight: 100 !important;
  color: "__Successful__" !important;
}

.current-profile-list-item {
  background-color: "__Unsuccessful__";
}